@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

#preloader {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 9999;
overflow: hidden;
background: #107eed;
}

#preloader:before {
content: "";
position: fixed;
top: calc(50% - 30px);
left: calc(50% - 30px);
border: 6px solid #0563bb;
border-top-color: #000000;
border-bottom-color: #000000;
border-radius: 50%;
width: 60px;
height: 60px;
-webkit-animation: animate-preloader 1s linear infinite;
animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
0% {
transform: rotate(0deg);
}
100% {
transform: rotate(360deg);
}
}

@keyframes animate-preloader {
0% {
transform: rotate(0deg);
}
100% {
transform: rotate(360deg);
}
}




html {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  //background-color: rgb(60, 77, 172);
background: #107eed; /* Old browsers */
background: -moz-linear-gradient(left,  #107eed 1%, #4e9ded 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #107eed 1%,#4e9ded 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #107eed 1%,#4e9ded 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#107eed', endColorstr='#4e9ded',GradientType=1 );
  font-family: "Open Sans", sans-serif;
}

p {
  line-height: 24px;
}

h1,
h2,
h3,
.header-text,
.header-text {
  font-family: "Patua One", cursive;
  letter-spacing: 1px;
}

.header-div {
  color: white;
}

.bg-image {
  position: absolute;
  width: auto;
  height: auto;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  box-sizing: border-box;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.nav-div {
  width: 90%;
  padding: 0px;
  margin-top: 2em;
}

.navbar {
  padding-right: 0px;
}

.nav-ul {
  background-color: #2c2c2c;
  padding: 5px;
  border-radius: 50px;
  border-bottom-width: 0px;
  margin: 0px;
}

.nav-link {
  text-decoration: none;
  color: #a8a8a8;
}

.nav-link.active {
  background-color: #107eed !important;
  border-radius: 50px !important;
  color: white !important;
  border: none !important;
}

.nav-link:hover {
  color: #a19f9f;
  border: none;
}

.nav-item {
  font-size: 1.3em;
}

.main-page {
  height: 80%;
  width: 90%;
  background-color: black;
  margin-top: 40px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.main-page-content {
  position: relative;
  width: 100%;
  border-radius: 20px;
  background-color: #2c2c2c;
  color: whitesmoke;
  padding: 0px;
  margin: 0px;
}

.bg-image-section {
  background-image: url("../img/bg.jpg");
  background-size: auto;
  background-repeat: round;
}

.inner-col {
  padding: 30px;
  padding-bottom: 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 30px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 80px 0;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: grey;
}

.badge {
  font-size: 0.8em;
  padding: 10px;
  margin: 3px;
}

.content-heading {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 0px;
  text-shadow: 3px 3px black;
}

.resume-head {
  font-size: 1.4rem;
}

/* 
.content-heading::after{
  content:'';
  background-image: url(../img/dot.png);
  background-size: cover cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 30px;
  z-index: 0;
  position: absolute;
  top: 10px;
}
 */
.header-col {
  padding: 20px;
}

.profile-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 0;
}

.icon-list-div {
  margin: auto;
  padding-top: 7em;
  width: 240px;
}

.ownership {
  padding-top: 5em;
  margin-bottom: 32px;
  font-size: 0.8em;
  text-align: center;
}

.header-text {
  font-size: 35px;
  font-weight: bolder;
}

img {
  width: 100%;
  padding: 30px;
}

.header-subtext {
  padding: 10px 0;
  font-weight: 800;
}

.heading-text {
  color: whitesmoke;
  font-weight: bold;
  position: absolute;
  margin: 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.blog-image,
.work-image {
  padding: 0%;
  width: 70%;
}

.fact-card {
  background-color: #a0adcc;
  border-radius: 15px;
  text-align: center;
  padding: 10% 0;
  margin: 5%;
  height: 220px;
  border: 1px solid;
  box-shadow: 7px 7px grey;
}

.contact-card {
  background-color: #a0adcc;
  border-radius: 15px;
  text-align: center;
  padding: 10%;
  margin: 5%;
  border: 1px solid;
  box-shadow: 7px 7px grey;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.exp-hr {
  border: none;
  border-left: 1px solid hsla(200, 10%, 50%, 100);
  height: 161vh;
  width: 3px;
  display: flex;
  position: absolute;
  left: 50%;
  border-color: rgb(71, 90, 197);
  margin-top: 44px;
}

.resume-container::before {
  content: " ";
  background-color: white;
  position: absolute;
  left: 50%;
  width: 2px;
  display: block;
  top: 145px;
  bottom: 123px;
  transform: translateX(-1px);
  opacity: 0.7;
}

.education-container::before {
  content: " ";
  background-color: white;
  position: absolute;
  left: 50%;
  width: 2px;
  display: block;
  top: 160px;
  bottom: 55px;
  transform: translateX(-1px);
  opacity: 0.7;
}

.float-lg-left::before {
  content: "";
  background-color: white;
  position: relative;
  top: 23px;
  bottom: 0px;
  left: 111%;
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
  transform: translateX(-9px);
  border: outset 3px rgb(135, 135, 231);
}

.float-lg-right::before {
  content: "";
  background-color: white;
  position: relative;
  top: 23px;
  bottom: 0px;
  left: -11%;
  width: 20px;
  height: 20px;
  display: block;
  transform: translateX(-9px);
  border-radius: 50%;
  border: outset 3px rgb(135, 135, 231);
}

.icon-exp {
  position: absolute;
  left: 48.6%;
  font-size: 30px;
  color: rgb(71, 90, 197);
}

.subtext {
  font-size: 13px;
  letter-spacing: 0.1px;
}

.exp-text {
  font-size: 15px;
  line-height: 20px;
}

.fa-chalkboard-teacher,
.fa-calendar-alt,
.fa-coffee,
.fa-map-marked-alt,
.fa-envelope,
.fa-phone-alt,
.fa-viruses,
.fa-print,
.fa-laptop-code {
  font-size: 40px;
  color: #2c2c2c;
}

.fact-text {
  margin: 10px 0;
  color: #2c2c2c;
}

.fact-count {
  color: #2c2c2c;
  font-weight: bold;
}

.comm-logo {
  width: 80%;
  min-width: 200px;
}

.float-lg-left {
  text-align: end;
  width: 45%;
  margin-right: 45%;
}

.float-lg-right {
  text-align: start;
  width: 45%;
  margin-left: 45%;
}

@media only screen and (max-width: 1023px) {
  .header-div {
    position: relative;
  }
  .profile-img {
    width: auto;
    padding: 0px;
  }
  .ownership {
    padding-top: 5em;
    margin-bottom: 5px;
  }
  .icon-list-div {
    position: absolute;
    margin: 0px;
    top: 85%;
    transform: translate(-50%, -50%);
    text-align: center;
    left: 50%;
    padding: 1% 0;
    width: 230px;
  }
  .main-page {
    height: 500px;
    width: 90%;
    margin-top: 30px;
    border-radius: 20px;
  }
  .main-page-content {
    position: relative;
    width: 100%;
    border-radius: 20px;
    background-color: #2c2c2c;
    color: whitesmoke;
    padding: 10% 0;
    margin: 0px;
    margin-bottom: 50px;
  }
  .bg-image-section {
    min-height: 200px;
  }
  .heading-text {
    color: whitesmoke;
    font-weight: bold;
    position: absolute;
    margin: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .work-image {
    width: 50%;
    position: relative;
    left: 40%;
  }
  .fact-card {
    min-width: 250px;
    min-height: 230px;
  }
  #nav-blog {
    min-height: 370px;
  }

}

@media only screen and (max-width: 1023px) {
  .nav-ul {
    padding-left: 5%;
    padding-right: 5%;
  }
  .nav-div, .main-page{
    margin-top: 10px;
  }
}




@media only screen and (max-width: 450px) {
  .resume-container::before {
    content: " ";
    background-color: white;
    position: absolute;
    left: 10%;
    width: 2px;
    display: block;
    top: 160px;
    bottom: 123px;
    transform: translateX(-1px);
    opacity: 0.7;
  }
  .education-container::before {
    content: " ";
    background-color: white;
    position: absolute;
    left: 10%;
    width: 2px;
    display: block;
    top: 160px;
    bottom: 55px;
    transform: translateX(-1px);
    opacity: 0.7;
  }
  .float-lg-left {
    text-align: start;
    width: 90%;
    margin-right: 0%;
    margin-left: 10%;
  }

  .float-lg-right {
    text-align: start;
    width: 90%;
    margin-left: 10%;
  }
  .float-lg-left::before {
    content: "";
    background-color: white;
    position: relative;
    top: 23px;
    bottom: 0px;
    left: -9%;
    width: 20px;
    height: 20px;
    display: block;
    transform: translateX(-9px);
  }

  .float-lg-right::before {
    content: "";
    background-color: white;
    position: relative;
    top: 23px;
    bottom: 0px;
    left: -10%;
    width: 20px;
    height: 20px;
    display: block;
    transform: translateX(-9px);
  }
}

@media only screen and (min-width: 450px) and (max-width: 830px) {

  .nav-item{
    margin: 0 auto;
  }
  .float-lg-right {
    margin-left: 55%;
  }


}

/* Social Media Icons */
.fab {
  float: left;
  padding: 5px;
  text-decoration: none;
  font-size: 25px;
  color: white;
}

/* .fa-facebook {
  color: #3b5998;
}
.fa-instagram {
  color: #000000;
}
.fa-twitter {
  color: #55acee;
}
.fa-linkedin {
  color: #007bb5;
}
.fa-github {
  color: #24292e;
}
 */
